.btn{
    // display: flex;
    border-radius: 4px;
    background: linear-gradient(270deg, #903AFF 0%, #D434FE 56.42%, #FF26B9 99.99%, #FE34B9 100%);      
    // background-position: 0% 50%;
    // background-size: 150% 100%;
    font-size: 16px;
    border: none;
    color: #fff;
    padding: 0;  
    width: 172px;
    height: 53px;
}