.logo{
    text-decoration: none;
    color: #fff;
    font-size: 3.6rem;
    font-weight: 700;
    font-family: var(--primary-font-family), cursive;
    span{
        color: var(--secondary-color);
    }
}