.header{
    padding: 3rem 8rem 1rem;
    // padding: 6.3rem 12.8rem 1rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.18);
    display: flex;
    justify-content: space-between;
    align-items: center;
}